* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-size: 3rem;
  padding: 5rem;
}
body::-webkit-scrollbar {
  width: 1.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #d91b1b;
}

.btn {
  background-color: #2196f3;
  border: none;
  border-radius: 7px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid red;
  background-color: #4287bf;
}
